html,body{
    height: 100%;
    margin: 0;
	font-family: helvetica, serif;
	/* background: #f2f2f2; */
}

.header{
	text-align: center;
    color: #4d4d4d;
	font-size: 14px;
    padding-top:20px;
    background:#000000;
}

.mainbody{
	margin: auto;
	max-width: 1000px;
	background: #ffffff;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

.content{
	padding: 30px;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: #4d4d4d;
}

.small-link{
	display: inline-block;
}

h1{
	font-size: 50px;
    color: #e6e6e6;
}
h2{
	font-size: 20px;
    color: #999999;
}
h3{
	font-size: 20px;
    color: #333333;
}
p{
	font-size: 16px;
    color: #666666;
}
td{
	font-size: 16px;
    color: #666666;
}

a:link {
  color: #999999;
}
a:visited {
  color: #999999;
}
a:hover {
  color: #333333;
}
a:active {
  color: #333333;
}

li{
    margin-bottom: 10px;
}
